.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.container > * {
  width: 100%;
}

.mat-mdc-form-field {
  width: 95%;
}
.form {
  display: flex;
  padding-top: 6px;
  padding-left: 10px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}
