<div class="container">
  <h3 mat-dialog-title>Add new Task</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputName class="form-control" placeholder="Name" [(ngModel)]="task.name" name="name" maxlength="64" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputName.value?.length || 0}}/64</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputType placeholder="type" [(ngModel)]="task.type" name="type" maxlength="32" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputType.value?.length || 0}}/32</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-label>ist done</mat-label>
        <mat-select placeholder="ist done" [(ngModel)]="task.done" name="done" required>
          <mat-option value="true">true</mat-option>
          <mat-option value="false">false</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-label>priority</mat-label>
        <mat-select placeholder="priority" [(ngModel)]="task.priority" name="priority" required>
          <mat-option value="LOW">LOW</mat-option>
          <mat-option value="NORMAL">NORMAL</mat-option>
          <mat-option value="URGENT">URGENT</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #taskDescriptionText placeholder="description" [(ngModel)]="task.description" name="description" maxlength="256"></textarea>
        <mat-hint align="end">{{taskDescriptionText.value?.length || 0}}/256</mat-hint>
      </mat-form-field>
    </div>



    <div mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
